/* Variables */
:root {
	--color-background: hsl(48, 100%, 99%, 1);
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/** end reset css**/

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 100px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	position: relative;
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	width: 100%;
}

.modifier-hero {
	display: block;
	top: 20px;
	position: relative;
}

.modifier-description {
	padding: 0;
}

#introduction article {
	flex: 1;
	padding-inline: 2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

#introduction h2 {
	margin-block: 1rem;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* Portfolio */

.global-wrapper {
	max-width: 1140px;
	margin: auto;
}

#portfolio .edit {
	position: absolute;
	right: -100px;
}

.utility-wrapper {
	position: relative;
	display: flex;
	width: fit-content;
	margin-inline: auto;
	align-items: center;
	justify-content: center;
}

.index-main {
	width: 75%;
	margin-inline: auto;
}

#portfolio h2 {
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.gallery img {
	width: 100%;

}

/* Edition-tab */
.edition-tab {
	display: flex;
	background-color: black;
	color: white;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	height: 60px;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	margin-bottom: -1rem;
}

.button-white {
	background-color: white;
	color: black;
	border: none;
	padding: .75rem 1.5rem;
	border-radius: 100px;
}

/* Forms Login / Contact / Modal */
#contact,
#login {
	width: 50%;
	margin: auto;
	text-align: center;
}

#contact>*,
#upload-image>* {
	text-align: center;
	align-items: center;

}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form,
#upload-image form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact form>*:not([type="submit"]) {
	width: 100%;
}

#contact input:not(.button),
.login input:not(.button),
#upload-image input:not(.button),
#input-categorie {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 1rem;
}

#login-submit {
	margin-inline: auto;
	margin-block: 2rem;
}

#upload-image :is(input, select):not([type="submit"]) {
	width: 100%;
	background-color: white;
	text-align: left;
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}

#login a:hover,
#modal-delete-galerie {
	text-decoration-line: underline;
}

#contact textarea,
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact textarea {
	margin-bottom: 2rem;
}

/* Boutons de filtre */

.filtres {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-block: 3rem;
}

.filtre {
	background-color: transparent;
	color: #1D6154;
	font-weight: 700;
	font-size: 1rem;
	border: 1px solid #1D6154;
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
	cursor: pointer;
	min-width: 100px;
	font-family: 'Syne';
	text-align: center;
}

.filtre[data-actif="true"] {
	background-color: #1D6154;
	color: white;
}

/* Body Header Footer et Navbar */
body {
	background-color: var(--color-background);
	font-family: 'Work Sans';
	font-size: 14px;
}

header,
footer {
	padding-inline: 2rem;
}

footer nav {
	background-color: white !important;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.body-login {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.body-login main {
	display: flex;
	flex-direction: column;
	place-content: center;
}

/* Utility classes*/

.visually-hidden {
	opacity: 0;
	pointer-events: none;
}

.display-none {
	display: none;
}

/* Error Input styling */
.error-text {
	text-align: center;
	color: red;
	position: relative;
	font-weight: 700;
	top: 1rem;
}

.shake #email,
.shake #password {
	border: 2px solid rgba(255, 0, 0, 0.5);
	animation: shake .5s ease;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	20% {
		transform: translateX(-10px);
	}

	40% {
		transform: translateX(10px);
	}

	60% {
		transform: translateX(-10px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		transform: translateX(0);
	}
}

/* Modal */

.modal {
	position: fixed;
	z-index: 2;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	display: none;
}

.modal-wrapper {
	position: relative;
	max-width: 80%;
	max-height: 90%;
	background-color: var(--color-background);
	border-radius: 10px;
	padding: 60px 105px 48px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 36px;
}

.modal-title {
	font-weight: 400;
	font-size: 26px;
}

.modal-close,
.modal-back {
	position: absolute;
	top: 32px;
	border: none;
	background: none;
	font-size: 20px;
}

.modal-close {
	right: 32px;
}

.modal-back {
	left: 32px;
}

.modal-gallery {
	border-bottom: 1px solid #B3B3B3;
	display: grid;
	place-content: center;
	width: 400px;
	grid-template-columns: repeat(5, 1fr);
	row-gap: 16px;
	column-gap: 8px;
	padding-bottom: 48px;
}

.modal-gallery-figure {
	position: relative;
}

.modal-gallery-figure figcaption {
	font-size: 12px;
	font-weight: 400;
}

.modal-gallery-figure img {
	width: 100%;
}

.modal-picture-delete,
.modal-picture-move {
	position: absolute;
	color: white;
	background: black;
	font-size: 9px;
	border-radius: 2px;
	padding: 4px;
	border: none;
	height: 17px;
	display: grid;
	place-content: center;
	z-index: 2;
}

.modal-picture-delete {
	top: 6px;
	right: 6px;
}

.modal-picture-move {
	top: 6px;
	right: calc(6px + 17px + 3px);
}

#modal-delete-galerie {
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 400;
	color: #D65353;
	border: none;
	background: none;
}

#upload-image {
	display: flex;
	flex-direction: column;
	align-items: start;
}

#upload-image .button {
	margin-inline: auto;
}

#upload-image input,
#input-categorie {
	margin-block: 16px;
}

#upload-image svg {
	color: #B9C5CC;
	height: 46px;
}

#input-image {
	opacity: 0;
	position: absolute;
	height: 0;
	width: 0;
	pointer-events: none;

}

.input-image-instructions {
	font-size: 12px;
	font-weight: 400;
	color: #444444;
}

.drop-container {
	position: relative;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	background-color: #E8F1F7;
	padding: 42px 124px;
	margin-bottom: 30px;
	outline: transparent solid 1px;
	transition: all 0.3s ease-in-out;
}

.drop-container:hover,
.drop-container:focus {
	outline-color: #97cdf2;
	outline-offset: 4px;
}

.dragover {
	outline-color: #97cdf2;
	outline-offset: 4px;
}

.drop-container .button:hover {
	background-color: #97cdf2;
	color: white;
}

.drop-container .button {
	font-weight: 500;
	color: #306685;
	background-color: #CBD6DC;
	padding-block: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 180px;
	text-align: center;
	border: none;
	border-radius: 60px;
	cursor: pointer;
}

.drop-container img {
	width: 100%;
}

#modal-1[data-active="false"],
#modal-2[data-active="false"] {
	display: none;
}

#modal-1[data-active="true"],
#modal-2[data-active="true"] {
	display: flex;
}

.grey-line {
	width: 100%;
	border-bottom: 1px solid #B3B3B3;
	margin-block: 40px;
}

#upload-image .error-text {
	align-self: center;
	top: -.5rem;
}

/* Boutons */
button,
.edit,
[class^="button-"] {
	cursor: pointer;
}

.edition-tab .edit {
	background-color: transparent;
	border: none;
	color: white;
}

#portfolio .edit,
#introduction .edit {
	background-color: transparent;
	border: none;
}


.button-green:hover,
.button-green:focus,
.button-green:active {
	background-color: #248271
}

.button-white:hover,
.button-white:focus {
	background-color: rgb(231, 231, 231);
}

.button {
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 700;
	padding-block: 10px;
	width: 230px;
	border: none;
	border-radius: 60px;
	cursor: pointer;
	text-align: center;
}

.button-grey[disabled],
.button-green[data-active="false"],
.button-grey[data-active="false"] {
	color: white;
	background-color: #A7A7A7;
	pointer-events: none;
}

.button-green[data-active="true"] {
	color: white;
	background-color: #1D6154;
}

.button-grey {
	background-color: #A7A7A7;
	color: white;
}

.button-grey {
	color: white;
	background-color: #1D6154;
}

.preview {
	display: none;
	justify-content: center;
	align-items: center;
}

.preview img {
	aspect-ratio: 3/4;
	object-fit: cover;
	max-width: 130px;
}

.no-preview {
	display: flex;
	flex-direction: column;
}